* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(141, 121, 118);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(172, 29, 4);
}
